# Byte-compiled / cache
__pycache__/
*.py[cod]
*.so

# Virtual environments
.env
.venv
env/
venv/
ENV/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Data
data/raw/*
data/processed/*
!data/.gitkeep   # keep folder structure without data

# Logs and outputs
*.log
*.out

# OS-specific garbage
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
*.swp

# Python packaging
*.egg-info/
dist/
build/

# Streamlit
.streamlit/
